modules = ["nodejs-20", "web", "bash", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/aigypt: web"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "artifacts/aigypt: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22064 pnpm --filter @workspace/aigypt run dev"
waitForPort = 22064

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_WA_NUMBER = "6281311506025"
ADMIN_WA_NUMBER = "6281311506025"
MIDTRANS_IS_PRODUCTION = "false"
VITE_MIDTRANS_IS_PRODUCTION = "false"
PREVIEW_CODE = "AIGYPT-PREVIEW"
MASTER_ACCESS_CODE = "52AAB272183B46BA45D48112C9B583B4318A7EC5"

[nix]
channel = "stable-25_05"
