modules = ["nodejs-20", "web", "bash", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_WA_NUMBER = "6281311506025"
ADMIN_WA_NUMBER = "6281311506025"
MIDTRANS_IS_PRODUCTION = "false"
VITE_MIDTRANS_IS_PRODUCTION = "false"

[nix]
channel = "stable-25_05"
